body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#07111E;

font-family:Arial,sans-serif;

}

.login-card{

background:white;

padding:40px;

border-radius:15px;

width:360px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.2);

}

input{

width:100%;

padding:14px;

margin:12px 0;

border:1px solid #ddd;

border-radius:8px;

box-sizing:border-box;

}

button{

width:100%;

padding:14px;

border:none;

background:#32D296;

color:white;

font-weight:bold;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#27b07b;

}

#message{

margin-top:15px;

color:red;

}